<div class="wrapper">
  <div class="header center">
    <h1>WCA Competition Scorecards</h1>
  </div>

  <div class="content center">
  <!-- LOGIN -->
    <div *ngIf="! apiService.oauthToken">
      <button class="login" (click)="handleLoginToWca()">First: login</button><br>
    </div>

  <!-- SELECT COMP -->
    <div *ngIf="apiService.oauthToken && ! competitionId">
      <p>Welcome!</p>
      <p *ngIf="competitionsToChooseFrom">Select a competition:</p>
      <p *ngFor="let competitionId of competitionsToChooseFrom">
        <button class="competition" (click)="handleCompetitionSelected(competitionId)">{{competitionId}}</button>
      </p>
      <p *ngIf="!!competitionsToChooseFrom && competitionsToChooseFrom.length === 0">You don't have any competition available :-(</p>
    </div>

  <!-- INFORMATION ABOUT COMP AND PRINTING -->
    <div *ngIf="competitionId && wcif && state === 'PRINT'">
      <p> Selected competition: {{ competitionId }}<br>
      {{ wcif.events?.length }} events found...&nbsp;&nbsp;<button (click)="handleRefreshCompetition()"
        ><i class="fa fa-refresh"></i> Refresh results</button></p>

      <p class="info-center"><b>Please read the instructions carefully:</b></p><br>
      <p class="info-center">After you've finished entering the results of a round in WCA Live, open the next round and 'Synchronize' in WCA Live. Then click 'Refresh results' here and the scorecards for the round you just opened will be available.</p><br>
      <p class="info-center">First rounds are sorted alphabetically and have only 1 group (note that you should rather be using a grouping tool for first rounds).</p>
      <p class="info-center">For other rounds, competitors are always sorted by their ranking in the previous round.</p><br>

      <p class="info-center"><b>Options:</b></p>
      <p class="info-center">Split competitors into <input type="number" [(ngModel)]="config.numberOfGroups" min="1" step="1"> groups (this does not apply to first rounds)</p>
      <p class="info-center"><input type="checkbox" [(ngModel)]="config.printStationNumbers"> Print station numbers for fixed seating</p><br>

      <table class="center">
      <tr *ngFor="let event of wcif.events">
        <td>{{ nameOfEventId(event.id) }}</td>
        <td><button (click)="scoreCardService.printScoreCardsForRound(wcif, event, 0, config)"
                    [disabled]="event.rounds[0]?.results?.length === 0"><i class="fa fa-download"></i> Round 1</button></td>
        <td>
          <button (click)="scoreCardService.printScoreCardsForRound(wcif, event, 1, config)"
                  [disabled]="event.rounds[1]?.results?.length === 0"
                  *ngIf="event.rounds.length >= 2"><i class="fa fa-download"></i> Round 2</button>
          </td>
        <td>
          <button (click)="scoreCardService.printScoreCardsForRound(wcif, event, 2, config)"
                  [disabled]="event.rounds[2]?.results?.length === 0"
                  *ngIf="event.rounds.length >= 3"><i class="fa fa-download"></i> Round 3</button>
        </td>
        <td>
          <button (click)="scoreCardService.printScoreCardsForRound(wcif, event, 3, config)"
                  [disabled]="event.rounds[3]?.results?.length === 0"
                  *ngIf="event.rounds.length >= 4"><i class="fa fa-download"></i> Round 4</button>
        </td>
      </tr>
      </table><br>
      <button (click)="scoreCardService.printFourEmptyScorecards(wcif)"><i class="fa fa-download"></i> Empty scorecards</button>
    </div>

  <!-- REFRESH -->
    <div *ngIf="state === 'REFRESHING'">
      <p>Refreshing...</p>
    </div>
  </div>

  <div class="footer left">
    <a href="https://github.com/Goosly/wca-scorecards/wiki" target="_blank"><i class="fa fa-book"></i> Wiki</a>&nbsp;
    <a href="https://github.com/Goosly/wca-scorecards" target="_blank"><i class="fa fa-github"></i> Github</a>
  </div>
</div>
